<!DOCTYPE html>

<head>
<style>
header {
  text-align: center;
}
#controls
{
    width: 70%;
    min-width: 615px;
    padding: 3px;
    margin: 0px auto 20px auto;
    border: 1px solid #606060;
    overflow: hidden;
}
.innerControls
{
    display:block;
    float: left;
    width: 99%;
    margin: 3px;
    padding-left: 3px;
    font-size: 8pt
}
.videoCentered
{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.center
{
    width: 70%;
    min-width: 615px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block
}

#customButtons input { width: 25%; display : inline-block; text-align: center; font-size: 8pt;}
#toggleButtons button { width: 24%; display : inline-block; text-align: center; font-size: 8pt; background-color: #A0A0A0 }

</style>
  <title>hls.js demo</title>
<link href="/img/favicon.ico" type="image/x-icon" rel="icon">

<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<script src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js"></script>
	<div id="controls">
      <div id="customButtons"></div>
      <select id="streamSelect" class="innerControls"><option value="" selected>(Enter custom URL below)</option></select>
      <input id="streamURL" class="innerControls" type=text value=""/>
      <label class="innerControls"><input id="enableStreaming" type=checkbox checked/> Enable Streaming</label>
      <label class="innerControls"><input id="autoRecoverError" type=checkbox checked/> Auto-Recover Media Error</label>
      <label class="innerControls"><input id="enableWorker" type=checkbox checked/> Enable Worker</label>
      <label class="innerControls">Level Capping <input id="levelCapping" type=number/></label>
      <label class="innerControls">default Audio Codec <input id="defaultAudioCodec"/></label>
      <div id="StreamPermalink" class="innerControls"></div>
      <div>
        <select id="videoSize" style="float:left">
         <option value="240">player size: tiny (240p)</option>
         <option value="384">player size: small (384p)</option>
         <option value="480">player size: medium (480p)</option>
         <option value="720" selected>player size: large (720p)</option>
         <option value="1080">player size: huge (1080p)</option>
        </select>
        <span id="currentResolution" style="float:right;font-size: 8pt;">-</span>
      </div>
    </div>


    <video id="video" controls autoplay class="videoCentered"></video><br>
    <canvas id="buffered_c" height="15" class="videoCentered" onclick="buffered_seek(event);"></canvas><br><br>
    <pre id="HlsStatus" class="center" style="white-space: pre-wrap;"></pre>
	<script type="text/javascript" src="/js/libs/canvas.js"></script>
	<script type="text/javascript" src="/js/libs/metrics.js"></script>
	<script type="text/javascript" src="/js/libs/jsonpack.js"></script>
	<script type="text/javascript" src="/js/widgets/player.js"></script>
</body>

</html>
